---
import Icon from "../Icon.astro";
---

<section class="process-closing">
  <div class="shell">
    <div class="reveal process-closing__inner">
      <h2 class="process-closing__title">
        Start a <span class="process-italic">build</span>.
      </h2>
      <p class="process-closing__body">
        A 30-minute call to see if we can help. No slides, no discovery deck.
        A written proposal within 48 hours.
      </p>
      <a href="/contact" class="btn btn-primary" style="font-size: 15px; padding: 18px 28px;">
        Start a conversation <Icon name="arrow-right" size={14} />
      </a>
    </div>
  </div>
</section>
