---
---

<section class="about-notdo">
  <div class="shell-tight">
    <div class="reveal about-notdo__inner">
      <h3 class="about-notdo__label">What we don't do.</h3>
      <p class="about-notdo__text">
        We don't pitch to procurement teams. We don't build chat-bubble AI
        features that nobody asked for. We don't take on eighteen-month
        replatforms.
      </p>
    </div>
  </div>
</section>
