---
---

<section class="about-notdo">
  <div class="shell-tight">
    <div class="reveal about-notdo__inner">
      <h3 class="about-notdo__label">What I don't do.</h3>
      <p class="about-notdo__text">
        I don't pitch to procurement teams. I don't build chat-bubble AI features
        that nobody asked for. I don't take on eighteen-month replatforms.
      </p>
    </div>
  </div>
</section>
