---
---

<section aria-label="Atmospheric break" class="about-break">
  <div class="about-break__surface">
    <div class="grain-overlay" aria-hidden="true"></div>
    <div class="about-break__scrim"></div>
  </div>
</section>
